<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/Cat_Toe/www/public/css/style.css">
</head>
<body>
    <a href="/Cat_Toe/www/views/interface.html">&#60;</a>
    <div class="wrapper">
        <div class="container">
           <button class="button-option"></button>
           <button class="button-option"></button>
           <button class="button-option"></button>
           <button class="button-option"></button>
           <button class="button-option"></button>
           <button class="button-option"></button>
           <button class="button-option"></button>
           <button class="button-option"></button>
           <button class="button-option"></button>
       </div>
       <button class="ripple" id="restart">Borrar</button>
    </div>
    
    <div class="popup hide">
        <p id="message"></p>
        <button class="ripple" id="new-game">Nuevo Juego</button>
   </div>
   
    <!-- Script -->
    <script src="/Cat_Toe/www/public/js/main.js"></script>
    <script src="/Cat_Toe/www/public/js/p1.js"></script>
</body>
</html>