<DOCTYPE html>
    <head>
        <title>Interfaz de Usuario</title>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/int.css" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <img class="logos" src="/img/Logo.png" alt="LOGO">
            <h1>Un juego desarrollado por estudiantes de TI</h1>
        </div>
        <div class="dos"></div>
        <div class="botones">
            <ol><a href="/html/index.html"><button class="e1">Partida Rapida</button></a></ol>
        </div>
        <div class="dos"></div>
        <div class="botones">
            <ol><a href=""><button class="e1">Cuatro en Raya</button></a></ol>
        </div>
        <div class="dos"></div>
        <div class="botones">
            <ol><a href=""><button class="e1">Partida personalizada</button></a></ol>
        </div>
        <div class="dos"></div>
        <div class="botones">
            <ol><a href=""><button class="e1">Partida Online</button></a></ol>
        </div>
    </body>
    <footer>

    </footer>
</html>